.giffygram__feed {
    padding: 7rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.likeFeature {
    display: flex;
}

.lifeFeature button {
    border: 2px solid red;
}

.ownerButtons {
    display: flex;
}